**
!Dockerfile
!LICENSE
!MANIFEST.in
!bin/scruples
!readme.md
!requirements.txt
!setup.cfg
!setup.py
!docs/annotation-guidelines.md
!docs/demos.md
!docs/assets/demo-screenshots/norms-about.png
!docs/assets/demo-screenshots/norms-results.png
!docs/assets/demo-screenshots/scoracle-about.png
!docs/assets/demo-screenshots/scoracle-results.png
!src/scruples/__init__.py
!src/scruples/analysis/__init__.py
!src/scruples/analysis/traits.py
!src/scruples/baselines/__init__.py
!src/scruples/baselines/bert.py
!src/scruples/baselines/corpus.py
!src/scruples/baselines/labels.py
!src/scruples/baselines/linear.py
!src/scruples/baselines/loss.py
!src/scruples/baselines/metrics.py
!src/scruples/baselines/naivebayes.py
!src/scruples/baselines/resource.py
!src/scruples/baselines/roberta.py
!src/scruples/baselines/style.py
!src/scruples/baselines/train.py
!src/scruples/baselines/trees.py
!src/scruples/baselines/utils.py
!src/scruples/data/__init__.py
!src/scruples/data/action.py
!src/scruples/data/comment.py
!src/scruples/data/label_scores.py
!src/scruples/data/labels.py
!src/scruples/data/post.py
!src/scruples/data/post_types.py
!src/scruples/data/utils.py
!src/scruples/dataset/__init__.py
!src/scruples/dataset/readers.py
!src/scruples/dataset/transforms.py
!src/scruples/demos/__init__.py
!src/scruples/demos/norms/__init__.py
!src/scruples/demos/norms/app.py
!src/scruples/demos/norms/static/favicon.ico
!src/scruples/demos/norms/static/logo-ai2-white-withText-micro.svg
!src/scruples/demos/norms/templates/index.html
!src/scruples/demos/norms/utils.py
!src/scruples/demos/scoracle/__init__.py
!src/scruples/demos/scoracle/app.py
!src/scruples/demos/scoracle/static/favicon.ico
!src/scruples/demos/scoracle/static/logo-ai2-white-withText-micro.svg
!src/scruples/demos/scoracle/templates/index.html
!src/scruples/demos/scoracle/templates/dev.scruples-anecdotes_label-counts.json
!src/scruples/demos/scoracle/templates/dev.scruples-dilemmas_label-counts.json
!src/scruples/demos/scoracle/templates/dev.snli_label-counts.json
!src/scruples/extraction/__init__.py
!src/scruples/extraction/base.py
!src/scruples/extraction/filters.py
!src/scruples/extraction/normalizers.py
!src/scruples/extraction/transformers.py
!src/scruples/scripts/__init__.py
!src/scruples/scripts/analyze/__init__.py
!src/scruples/scripts/analyze/corpus/__init__.py
!src/scruples/scripts/analyze/corpus/extractions.py
!src/scruples/scripts/analyze/corpus/human_performance.py
!src/scruples/scripts/analyze/corpus/oracle_performance.py
!src/scruples/scripts/analyze/corpus/predictions.py
!src/scruples/scripts/analyze/corpus/statistics.py
!src/scruples/scripts/analyze/oracle_estimator.py
!src/scruples/scripts/analyze/resource/__init__.py
!src/scruples/scripts/analyze/resource/human_performance.py
!src/scruples/scripts/analyze/resource/latent_traits.py
!src/scruples/scripts/analyze/resource/oracle_performance.py
!src/scruples/scripts/analyze/resource/predictions.py
!src/scruples/scripts/analyze/resource/topics.py
!src/scruples/scripts/analyze/resource/verbs.py
!src/scruples/scripts/demo/__init__.py
!src/scruples/scripts/demo/norms.py
!src/scruples/scripts/demo/scoracle.py
!src/scruples/scripts/evaluate/__init__.py
!src/scruples/scripts/evaluate/corpus/__init__.py
!src/scruples/scripts/evaluate/corpus/predict_lm.py
!src/scruples/scripts/evaluate/corpus/run_shallow.py
!src/scruples/scripts/evaluate/corpus/tune_lm.py
!src/scruples/scripts/evaluate/resource/__init__.py
!src/scruples/scripts/evaluate/resource/predict_lm.py
!src/scruples/scripts/evaluate/resource/run_shallow.py
!src/scruples/scripts/evaluate/resource/tune_lm.py
!src/scruples/scripts/make/__init__.py
!src/scruples/scripts/make/corpus.py
!src/scruples/scripts/make/resource/__init__.py
!src/scruples/scripts/make/resource/dataset.py
!src/scruples/scripts/make/resource/proposals.py
!src/scruples/settings.py
!src/scruples/utils.py
!src/scruples/vendor/__init__.py
!src/scruples/vendor/skopt.py
!tests/__init__.py
!tests/conftest.py
!tests/fixtures/corpus-easy/dev.scruples-corpus.jsonl
!tests/fixtures/corpus-easy/test.scruples-corpus.jsonl
!tests/fixtures/corpus-easy/train.scruples-corpus.jsonl
!tests/fixtures/gold-extractions/gold-title-description-extractions.jsonl
!tests/fixtures/raw-data/test-comment.jsonl
!tests/fixtures/raw-data/test-post-comments.jsonl
!tests/fixtures/raw-data/test-post.jsonl
!tests/fixtures/resource-easy/dev.scruples-actions.jsonl
!tests/fixtures/resource-easy/test.scruples-actions.jsonl
!tests/fixtures/resource-easy/train.scruples-actions.jsonl
!tests/scruples/__init__.py
!tests/scruples/analysis/__init__.py
!tests/scruples/analysis/test_traits.py
!tests/scruples/baselines/__init__.py
!tests/scruples/baselines/test_labels.py
!tests/scruples/baselines/test_linear.py
!tests/scruples/baselines/test_loss.py
!tests/scruples/baselines/test_metrics.py
!tests/scruples/baselines/test_naivebayes.py
!tests/scruples/baselines/test_style.py
!tests/scruples/baselines/test_utils.py
!tests/scruples/baselines/utils.py
!tests/scruples/data/__init__.py
!tests/scruples/data/test_action.py
!tests/scruples/data/test_comment.py
!tests/scruples/data/test_label_scores.py
!tests/scruples/data/test_labels.py
!tests/scruples/data/test_post.py
!tests/scruples/data/test_post_types.py
!tests/scruples/data/test_utils.py
!tests/scruples/dataset/__init__.py
!tests/scruples/dataset/test_readers.py
!tests/scruples/dataset/test_transforms.py
!tests/scruples/demos/__init__.py
!tests/scruples/demos/norms/__init__.py
!tests/scruples/demos/norms/test_app.py
!tests/scruples/demos/norms/test_utils.py
!tests/scruples/demos/scoracle/__init__.py
!tests/scruples/demos/scoracle/test_app.py
!tests/scruples/extraction/__init__.py
!tests/scruples/extraction/test_base.py
!tests/scruples/extraction/test_filters.py
!tests/scruples/extraction/test_normalizers.py
!tests/scruples/extraction/test_transformers.py
!tests/scruples/test_settings.py
!tests/scruples/test_utils.py
!tests/settings.py
!tests/utils.py